body {
    color: rgb(0, 56, 100);
  }
div.col-md-12.jumbotron.text-center{
    
    background-image: url("../../background.jpg");
  
    background-size: 100% 100%;
    text-align: center;
}
form {
    padding: 5px;
  }
  #filter-btn {
    width: 100%;
  }